* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url('img/WhatsApp\ Image\ 2025-01-14\ at\ 8.36.20\ AM.jpeg')    ; 
    background-size: cover;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    padding: 20px;
    border: 2px solid #efa250;
    border-radius: 10px;
    background-color: #1E1E1E;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    color: #ff8d13;
}

.time {
    font-size: 2rem;
    margin-bottom: 20px;
}

.buttons button {
    background-color: #efa250;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: #b32d00;
}

.timestamps {
    margin-top: 20px;
    padding: 10px;
    background-color: #2A2A2A;
    border: 1px solid #efa250;
    border-radius: 5px;
    height: 150px;
    overflow-y: auto;
}

.timestamps h2 {
    margin-bottom: 10px;
    color: #efa250;
}

.timestamps ul {
    list-style: none;
}

.timestamps li {
    margin: 5px 0;
    font-size: 0.9rem;
}